:root {
    --bgcolor-primary: #000000;
    --font-color: #ffffff;
    --border-color: #000000;
    --bgcolor-secondary: #1d1d1d;
    --bgcolor-chat-izq: #1d1d1d;;
    --bgcolor-chat-der: #0f5515;
    --bgcolor-primary-light: rgb(255, 255, 255);
    --font-color-light: #000000;
    --bgcolor-secondary-light: #f0f2f5;
    --bgcolor-input: #808080;
    --bgcolor-input: #808080;
}


.form-nvo-contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1d1d1d; 
    padding: 30px;
    height: 100%;
    width:30%;
    justify-content: space-between;

}
.form-contacto-header{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.form-input-contenedor{
  /*   margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
    gap:5px;
}

.label-contact {
    font-weight: bold;
    color:var(--bgcolor-input) ;
    padding:5px;
    font-size: 14px;
}

.input-contact {
    width: 100%;
    padding: 5px 5px 5px 10px;
    border: 1px solid var(--bgcolor-input);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #000000; 
    color: var(--bgcolor-input); 
    font-size: 12px;

}

.nuevo-contacto-tittle{
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 0px;
    color: var(--bgcolor-input);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438)

}
 .btn-contact-nvo{
    background-color: transparent;
    border: none;
    color: var(--font-color);
    text-align: center;
    width: 80%;
    padding: 8px;
    color: var(--bgcolor-primary);
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--bgcolor-input);
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418)
}

.cont-contact-nvo{
    display: flex;
    flex-direction: row;
    padding: px;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.icon-contacto-nvo{
    padding: 10px;
text-align: start;
}

.nvo-contacto-btns-inf{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

}

.error-message {
    color: red;
    font-size: 12px;
    padding-left: 5px;
}

.texto-bottom{
    font-size: 15px;
    text-align: center;
    color: var(--bgcolor-input);
}



@media (max-width: 590px) {
    .cont-form-nvo-contacto{
    width:100%;
    overflow: hidden;
 /*    position: fixed;
    z-index: 1; */
    height: 100%;
    } 
    .form-nvo-contacto {
        width: 100%;
        position: absolute;
        z-index: 1;
        height: 100%;
        bottom: 0;

    }

}
/* <i class="bi bi-person-add"></i> */


