



.cont-form-nvo-contacto{
    width: 60%;
    height: 100%;
    /* position: absolute;
    z-index: 1; */
    background-color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.form-nvo-contacto{
    border: 1px solid black;
    width: 90%;
    height: 100%;
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 10px;
}


.input-contact{
    border: 2px;
    width: 90% ;
 /*    height: 100%; */
    border-radius: 15px;
    background-color: var(--bgcolor-input);
    text-indent: 10px;

}
.btn-contact-nvo{
    background-color:transparent;
    font-size: 16px;
    width: 10%;
    color:white;
    border: none;
}

.input-contact::placeholder{
    color:#000000
}