:root {
	--bgcolor-primary: #000000;
	--font-color: #ffffff;
	--border-color: #000000;
	--bgcolor-secondary: #1d1d1d;
	--bgcolor-chat-izq: #1d1d1d;;
	--bgcolor-chat-der: #0f5515;
	--bgcolor-primary-light: rgb(255, 255, 255);
	--font-color-light: #000000;
	--bgcolor-secondary-light: #f0f2f5;
	--bgcolor-input: #808080;
}

.main-layout{
    display:flex;
    flex-direction:row;
    max-width: 100wh; 
    background-color: var(--bgcolor-welcome);
    height: 100vh;
    justify-content: space-between;
}

.welcome-screen{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    }

.contenedor-btns-colores{
    width: 20%;
    height: 40%;;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
    transform: translate(100%, 35%);
	background-color: #1d1d1df1;
	}

	.btn-titulo-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;
	padding: 10px;
	position: relative;

	} 
	.btn-span-cont{
    display: flex;
    gap:10px;
    width: 100%;
    height: 100%;
	}

	.color-option{
    padding: 5px;
    border-radius: 100%;
    border:none;
    height: 15px;
    width: 15px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.438);
	}

	.span-color{
    width: 30%;
    font-size: 14px;
    color: var(--bgcolor-secondary-light);
	}


.colores-titulo{
	font-size: 14px;
	width: 70%;
	text-align: center;
	border-radius: 20px;
	border: none;
	padding: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
	background-color: var(--bgcolor-input);
	color: var(--font-color-light);
	font-weight: bold;
}

.btn-close-colors{
	border:none;
	background-color: transparent;
	text-align: start;
	padding: 5px;
	font-weight: bold;
	color: var(--font-color);
}

.Pink{
	background-color:rgba(82, 0, 41, 0.984)  ;
	}
	.Red{
	background-color: rgba(37, 0, 0, 0.965);
	}
	.Purple{
	background-color:rgba(56, 0, 39, 0.965);
	}
	.Green{
	background-color:rgba(1, 37, 0, 0.965);
	}
	.Default{
	background-color:rgba(44, 43, 43, 0.984)  ;
	}


@media (max-width: 590px) {
	.welcome-screen{
	display: none;
    } 
	.contenedor-btns-colores{
	width: 80%;
	height: 40%;
	transform: translate(15%, 70%)
    }
}   