:root {
  --bgcolor-primary: #000000;
  --font-color: #ffffff;
  --border-color: #000000;
  --bgcolor-secondary: #1d1d1d;
  --bgcolor-chat-izq: #1d1d1d;;
  --bgcolor-chat-der: #0f5515;
  --bgcolor-primary-light: rgb(255, 255, 255);
  --font-color-light: #000000;
  --bgcolor-secondary-light: #f0f2f5;
  --bgcolor-input: #808080;
}

.main-layout{
    display:flex;
    flex-direction:row;
    max-width: 100wh; 
    background-color: var(--bgcolor-welcome);
   /*  height: 633px; */
    height: 100vh;
    justify-content: space-between;
  /*   position: relative; */


}

.welcome-screen{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    }
   
/* 
  @media (max-width: 590px) {
        .main-layout{
       flex-direction:column;
        } 
        }   */