:root {
    --bgcolor-primary: #000000;
    --font-color: #ffffff;
    --border-color: #000000;
    --bgcolor-secondary: #1d1d1d;
    --bgcolor-chat-izq: #1d1d1d;;
    --bgcolor-chat-der: #0f5515;
    --bgcolor-primary-light: rgb(255, 255, 255);
    --font-color-light: #000000;
    --bgcolor-secondary-light: #f0f2f5;
    --bgcolor-input: #808080;
}

.screen-chat{
    height:100%;
    width: 100%;
    background-image:  url(https://media.istockphoto.com/id/1409540606/es/vector/vector-de-entrarnos-en-contacto-con-patr%C3%B3n-entrarnos-en-contacto-con-fondo-transparente.jpg?s=612x612&w=0&k=20&c=5zg7sKC_9MfdudJVkhUCwwWuNOG6d22Sa5_vLeuxRoY=);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content:space-between;
    align-items: center;
  /*   position:relative; */
}



