:root {
    --bgcolor-primary: #000000;
    --font-color: #ffffff;
    --border-color: #000000;
    --bgcolor-secondary: #1d1d1d;
    --bgcolor-chat-izq: #1d1d1d;;
    --bgcolor-chat-der: #0f5515;
    --bgcolor-primary-light: rgb(255, 255, 255);
    --font-color-light: #000000;
    --bgcolor-secondary-light: #f0f2f5;
    --bgcolor-input: #808080;
}

.screen-chat{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content:space-between;
    align-items: center;
}

@media (max-width: 590px) {
    .screen-chat {
        width: 100%;
        position: absolute;
        z-index: 2;
    }
}


