:root {
    --bgcolor-primary: #000000;
    --font-color: #ffffff;
    --border-color: #000000;
    --bgcolor-secondary: #1d1d1d;
    --bgcolor-chat-izq: #1d1d1d;;
    --bgcolor-chat-der: #0f5515;
    --bgcolor-primary-light: rgb(255, 255, 255);
    --font-color-light: #000000;
    --bgcolor-secondary-light: #f0f2f5;
    --bgcolor-input: #808080;
}

.screen-chat{
    height:100%;
    width: 100%;
    background-image:  url(https://cloudfront-eu-central-1.images.arcpublishing.com/diarioas/7L3CG752LVMWBPX75F4W3Y7QGI.jpg); 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content:center;
    align-items: center;
    position:relative;
    z-index: 0;

}

/* 
@media (max-width: 590px) {
    .screen-chat{
    display: none;
    } 
}   */

/* @media (max-width: 590px) {
    .screen-chat{
    display: none;
    } 
}   */


