:root {
    --bgcolor-primary: #000000;
    --font-color: #ffffff;
    --border-color: #000000;
    --bgcolor-secondary: #1d1d1d;
    --bgcolor-chat-izq: #1d1d1d;;
    --bgcolor-chat-der: #0f5515;
    --bgcolor-primary-light: rgb(255, 255, 255);
    --font-color-light: #000000;
    --bgcolor-secondary-light: #f0f2f5;
    --bgcolor-input: #808080;
}
.header{
    background-color:var(--bgcolor-secondary);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position:relative;
    padding: 0px 10px;
    
}

.flecha{
    color: var(--font-color);
    font-weight: bold;

}

.contenedor-contacto{
    display: flex;
    justify-content: start;
    /*    padding: 10px 5px 10px 15px; */
    align-items: center;
    gap:20px;
    overflow: hidden;
    width: 80%;
    height: 100%;

}


.nombre{
    font-size: 14px;
    font-weight: bold;
    width: 80%;
    height: 40%;
    color:var(--font-color);


}

.profile-photo{
    height: 41px;
    width: 41px;
    border-radius: 100%;
    margin:0 15px;
}


.btns-header{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: end;
    gap: 30px;
    margin-right:20px ;
    align-items: center;

} 


.btn-header{
    background-color: transparent;
    outline-color: none;
    border:0; 
    font-size: 18px;
    color:var(--font-color);
} 

.contenedor-nombre{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 90%;
}

.mensaje-texto{
    color:var(--font-color);
    font-size: 12px;
}


@media (max-width: 900px) {
    .btns-header{
    gap:20px;
    }
    .btn-header{
        font-size: 16px;
        }
    /* .nombre{
        font-size: 12px;
    } */
}


@media (max-width: 700px) {

    .nombre{
    font-size: 12px;
    }
    
}

@media (max-width: 590px) {
    .btns-header{
        gap:10px;
        }
        .btn-header{
            font-size: 12px;
            }
}



@media (min-width: 590px) {

    .flecha{
    display:none;
    }
    
}