:root {
--bgcolor-primary: #000000;
--font-color: #ffffff;
--border-color: #000000;
--bgcolor-secondary: #1d1d1d;
--bgcolor-chat-izq: #1d1d1d;;
--bgcolor-chat-der: #0f5515;
--bgcolor-primary-light: rgb(255, 255, 255);
--font-color-light: #000000;
--bgcolor-secondary-light: #f0f2f5;
--bgcolor-input: #808080;
}

html, body{
background-color: #7e7e7e;
}

/* .contact-screen-container{
max-width: 2000px;
height: 633px;
display: flex;
flex-direction: row;
} */

.contact-screen{
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
gap:10px;
background-color:  var(--bgcolor-primary); 
height:100%;
width: 30%;
position: relative;
}

.contact-screen .photo-profile-cont{
background-color:var(--bgcolor-secondary); 
display: flex;
justify-content: space-between;
width: 100%;
height: 85px;
padding: 3px 0 0 3px;
}

.contact-screen .photo-profile-cont .myprofile-photo{
border-radius: 100%;
height: 50px;
width:50px;
margin: 0 15px;
padding-bottom: 3px;
}


.icons-fns-left{
padding: 15px;
display: flex;
gap: 20px;
}

/* .contact-screen .photo-profile-cont .icons-header{
background-color: var(--bgcolor-secondary);
display: none;
flex-direction: row;
width: 100%;
height: 10%;
align-items: center;
justify-content: space-between;
}
 */


.contactos-header{
display: flex;
flex-direction: column;
padding: 0 10px; 
gap:10px;
width: 100%;
}

.titulos-contactos{
font-size: 18px;
font-weight: bold;
color:var(--bgcolor-primary);
width: 30%;
}

.contacts{
display: flex;
flex-direction: column;
height: 600px;
width: 95%;
background-color: var(--bgcolor-primary);
padding: 10px;
gap:15px;
overflow-y: scroll;
}

.input-buscar{
border: 1px solid black;
width: 100% ;
height: 30px;
border-radius: 15px;
background-color: #413f40;
text-indent: 10px;
}

.chat-options{
display: flex;
flex-direction: row;
justify-content: start;
padding: 10px;
text-align: center;
font-size: 14px;
gap:10px;

}


.contacts::-webkit-scrollbar {
width: 8px; 
}

.contacts::-webkit-scrollbar-track {
background: var(--bgcolor-primary); 
border-radius: 4px;
}

.contacts::-webkit-scrollbar-thumb {

background-color: var(--bgcolor-secondary-light);
border-radius: 4px; 
}

.contacts::-webkit-scrollbar-thumb:hover {
background-color:var(--bgcolor-secondary); 

}

.photos{
width: 50px;
height: 50px;
border-radius: 100%;
}
/* screen gap 10px */
.container-opciones-mobile{
display: flex;
flex-direction: row;
color:var(--font-color);
height: 10%;
width: 100%;
justify-content: space-between;
align-items: center;
padding: 10px 15px 15px;
font-size: 12px;
background-color:#7272727e; ;

}

.icons-mobile{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:5px
}


.contact-cont{
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
gap: 15px;
padding:5px;
border-bottom: 1px solid  var(--bgcolor-secondary);
/* background-color:var(--bgcolor-primary); */
background-color: transparent;
width: 100%;
height:auto;
}

.contacto-mje-nombre{
display: flex;
flex-direction: column;
border-radius: 20px;
gap: 3px;
height: auto;
width: 100%;
padding: 5px;
}
.contacto-data{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 10px;
height: 80%;
width: 80%;
}


.mobile{
display: flex;
padding: 10px;
gap:25px;

}

.icons-left{
color: var(--font-color);
font-weight: bold;
font-size: 15px;
}

.mensaje-cont{
font-size: 12px;
padding: 3px;
color: var(--font-color);
}

.nombre-cont{
padding: 3px;
width: 100%;
height: 100%;
font-size: 14px;
border-radius:20px;
font-weight: bold;
color:var(--font-color);
}

.string{
color:var(--font-color);
text-align: center;
}
.hour{
padding: 5px;
font-size: 10px;
color:var(--font-color);
}

.icons{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.punto{
color:var(--font-color);
background-color: var(--bgcolor-secondary);
border-radius: 100%;
padding: 5px;
text-align: center;
font-size: 17px;
}

.p1{
margin-left:10px;

}

.opt{
border-radius: 15px;
background-color: #413f40;
padding: 10px;
font-size: 12px;
width: auto;
}

.inferior{
width: 100%;
height: 84px;
background-color: var(--bgcolor-secondary);
}

.add{
background-color: #0f5515;
font-weight: bold;

}

.modo-claro{

background-color:  var(--bgcolor-primary-light);
color: var(--font-color-light);
}

.modo-claro-2{
background-color:  var(--bgcolor-secondary-light);
}


@media (max-width: 900px) {
.contact-screen{
width: 50%;
}
}

@media (max-width: 700px) {

.nombre-cont{
font-size: 12px;
}
}

@media (max-width: 590px) {
.contact-screen{
width: 100%;
}

.photo-profile-cont{
background-color: var(--bgcolor-primary);
justify-content: end;
}

.titulos-contactos{
color:var(--font-color) ;
font-size: 22px;
} 

.icons-left{
display: flex;
gap:20px;
}
.icons-fns-left{
display: none;
}
.mobile{
display: flex;
width: 100%;justify-content: space-between;
}

.punto-1{
display: none;
}
.container-opciones{
display: flex;
}
.chat-options{
justify-content: space-between;
}
.myprofile-photo{
display:none;
}
}

@media (max-width: 380px) {
.container-opciones-mobile{
font-size: 10px;
}
.titulos-contactos{
font-size: 16px;
}
}

@media (max-width: 332px) {
.opt{
font-size: 11px;
}
}

@media (min-width: 591px) {
.mobile{
display: none;
}

.fav{
display: none;
}

.p1{
display: none;
}

.container-opciones-mobile{
display: none;
} 
} 